[Desktop Entry]
Name=fyneLanShare
GenericName=局域网文件分享程序
Comment=局域网文件分享程序
Exec=fyneLanShare
Type=Application
Categories=Network;
Icon=/usr/share/icons/fyneLanShare.svg
Terminal=false
